@tailwind base;
@tailwind components;
@tailwind utilities;
*{
  margin: 0;
  padding: 0;
  box-sizing: 0;
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow-x: hidden;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  



/* this is for the styling in ./src/components/Bills.jsx for the link buttons */
.BillsTypesBtn{
  --ori-border-color: rgb(214 211 209);
  --active-border-color:  rgb(27, 170, 226);
  overflow: revert;
  position: relative;
}
.activeLinkBtn::after{
  background: var(--active-border-color) !important;
  animation: easeIn ease-in-out .5s;
  box-shadow: var(--active-border-color) 0px -0px 5px 0px;;
}
.BillsTypesBtn::after{
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 6px;
  transform: translateY(0px);
  border-radius: 10px 10px 0 0 ;
  background: var(---border-color);
  opacity: 1;
  animation: easeIn ease-in-out .3s;
}
@keyframes easeIn {
  0%{
    opacity: 0;
  }

}


/* bill item for ./src/components/bill/Bill.jsx */
.bill.activeCurrentBill{
  border: rgb(146, 146, 146) solid 2px;
  border-radius: 5px;
  z-index: 20;
  box-shadow: 0px 0px 5px 0px rgb(145, 145, 145);
  background: #fff;
}
.bill .finished{
  text-align: center;
  color: white;
  padding: 2px 20px;
  border-radius: 20px;
  font-weight: 500;
  background: rgb(0, 196, 33);
  box-shadow: 0px 4px 19px 2px #bfbfbf;
}
.bill .notfinished{
  text-align: center;
  color: white;
  padding: 2px 10px;
  border-radius: 20px;
  font-weight: 500;
  background: rgb(220, 0, 0);
  box-shadow: 0px 4px 19px 2px #bfbfbf;
}


/* if the current bill is finished then show the finished status */
.current-bill .finished{
  text-align: center;
  display: flex;
  flex-direction: column  ;
  color: white;
  width: 50%;
  margin: 10px auto;
  padding: 2px 20px;
  border-radius: 20px;
  font-weight: 500;
  background: rgb(0, 175, 29);
  box-shadow: 0px 4px 19px 2px #bfbfbf;
}
.current-bill .notfinished{
  text-align: center;
  color: white;
  width: fit-content;
  margin: 10px auto;
  padding: 2px 10px;
  border-radius: 20px;
  font-weight: 500;
  background: rgb(220, 0, 0);
  box-shadow: 0px 4px 19px 2px #bfbfbf;

}


/* // if the bill is deleted then make a storke line goes along the text */
.bill.deleted .name, .bill.deleted .finished-tag{
  text-decoration: line-through solid gray 2.5px;
}
.bill.deleted{
  background:rgb(238, 182, 182);
}


  /* loading spinner */
  .lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: #fff;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  

.hl{
  border: solid red 2px;
}